@media (max-width: 1450px) {



    .conteudo-titulo {
        margin-top: 40px;
    }

    .img-animada{
        width: auto;
        height: 300px ;
    }

    main {
        padding: 15% 5%; /* Ajustando o padding para o conteúdo */
        margin-bottom: 100px; /* Garantir que o footer não seja coberto */
    }

}




@media (max-width: 1000px) {


    .semPadding{
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }  

    header {
        padding: 10px 5%;
    }

    h1 {
        padding: 2%;
        font-size: 7vw;
    }



    .conteudo-titulo {
        margin-top: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }



    .conteudo-titulo h1 {
        font-size: 7vw;
    }

    .img-animada {
        width: auto;
        height: 400px;
    }

    img {
        padding: 2%;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 20px;
        padding-bottom: 50px; /* Garantir que o footer não seja cortado */
    }


    main {
        padding: 15% 5%; /* Ajustando o padding para o conteúdo */
        margin-bottom: 100px; /* Garantir que o footer não seja coberto */
    }

    .cabecalho {
        flex-direction: column;
    }

}


@media (max-width: 915px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: #332823;
        cursor: pointer;
        left: 80%; 
    }


    .cabecalho-menu #toggle-dark-mode {
        display: none; 
    }

    .cabecalho-menu {
        display: none; 

    }

    .cabecalho-menu a {
        display: none; /*ocultos inicialmente */

    }
    
    .cabecalho-menu.active {
        display: block; /* Exibe*/
    }

    .cabecalho-menu.active a {
        display: block; 
    }
    .cabecalho-menu.active #toggle-dark-mode {
        display: block; 
        margin-left: 20px; 
    }

    .semPadding{
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }  

    header {
        padding: 10px 5%;
    }

    h1 {
        padding: 2%;
        font-size: 7vw;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 18px;
    }


    .conteudo-titulo {
        margin-top: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }


    .cabecalho-menu {
        display: flex;
        flex-direction: column;
        gap: 15px; /* Ajuste o gap para evitar o corte dos links */
        font-family: monospace;
        font-size: 18px; /* Reduzi o tamanho da fonte para não ocupar tanto espaço */
        color: #cd9193;
        text-align: center;
    }

.cabecalho-menu button{
    padding: 5px 15px;
    padding-top: 2px;
}
    .cabecalho-menu a {
        font-size: 18px; /* Ajustando tamanho da fonte para links */
        padding: 10px 20px;
    }

    .conteudo-titulo h1 {
        font-size: 7vw;
    }

    .img-animada {
        width: auto;
        height: 75%px ;
    }

    img {
        padding: 1%;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 20px;
        padding-bottom: 50px; /* Garantir que o footer não seja cortado */
    }


    main {
        padding: 15% 5%; /* Ajustando o padding para o conteúdo */
        margin-bottom: 100px; /* Garantir que o footer não seja coberto */
    }

    .cabecalho {
        flex-direction: column;
    }


}


@media (max-width: 600px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: #332823;
        cursor: pointer;
        left: 80%; 
    }

    .cabecalho-menu #toggle-dark-mode {
        display: none; 
    }

    .cabecalho-menu {
        display: none; 

    }

    .cabecalho-menu a {
        display: none; /*ocultos inicialmente */

    }
    
    .cabecalho-menu.active {
        display: block; /* Exibe*/
    }

    .cabecalho-menu.active a {
        display: block; 
    }
    .cabecalho-menu.active #toggle-dark-mode {
        display: block; 
        margin-left: 20px
    }

    .semPadding{
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }  

    header {
        padding: 10px 5%;
    }

    h1 {
        padding: 2%;
        font-size: 7vw;
    }
    h2 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
            text-align: left; 
            word-spacing: normal; 
            letter-spacing: normal; 

    }

    .cabecalho {
        flex-direction: column;
    }

    .roda-pe {
        flex-direction: column;
        gap: 15px;
    }
    .conteudo-titulo {
        margin-top: 40px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }


    .cabecalho-menu {
        display: flex;
        flex-direction: column;
        gap: 15px; /* Ajuste o gap para evitar o corte dos links */
        font-family: monospace;
        font-size: 18px; /* Reduzi o tamanho da fonte para não ocupar tanto espaço */
        color: #cd9193;
        text-align: center;
    }

    .cabecalho-menu a {
        font-size: 18px; /* Ajustando tamanho da fonte para links */
        padding: 10px 20px;
    }

    .conteudo-titulo h1 {
        font-size: 7vw;
    }

    .img-animada {
        width: auto;
        height: 300px ;
    }

    img {
        padding: 1%;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 20px;
        padding-bottom: 50px; /* Garantir que o footer não seja cortado */
    }

    footer {
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.349);
        background-color: #ffb6a660;
        margin-top: 20px; /* Garantir que o footer tenha espaçamento */
        padding: 20px; /* Ajuste o padding para o footer */
    }

    main {
        padding: 15% 5%; /* Ajustando o padding para o conteúdo */
        margin-bottom: 100px; /* Garantir que o footer não seja coberto */
    }
}

@media (max-width: 330px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: #332823;
        cursor: pointer;
        left: 80%; 
    }


    .cabecalho-menu #toggle-dark-mode {
        display: none; 
    }

    .cabecalho-menu {
        display: none; 

    }

    .cabecalho-menu a {
        display: none; /*ocultos inicialmente */

    }
    
    .cabecalho-menu.active {
        display: block; /* Exibe*/
    }

    .cabecalho-menu.active a {
        display: block; 
    }
    .cabecalho-menu.active #toggle-dark-mode {
        display: block; 
        margin-left: 5px; 
    }

    .semPadding{
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }  

    main {
        padding: 10% 5%;
    }

    header {
        padding: 10px 2%;
    }

    h1 {
        font-size: 6vw;

    }

    h2 {
        font-size: 22px;
        padding-right: 0px;
        padding-left: 0px;

    }

    p {
        font-size: 16px;
        

    }


    .img-logo{
        width: auto;
        height: 50px;
    }


    .fixo {
        padding-right: 5px;
        padding-left: 5px;
    }

    .menu-toggle {
        background: none;
        border: none;
        font-size: 35px;
        cursor: pointer;
        color: #cd9193;
        display: none;
    }
    

    .cabecalho-menu {
        gap: 10px; /* Reduzido o espaçamento entre os links */
        font-size: 16px;
    }

    .cabecalho-menu a {
        font-size: 16px; /* Ajustando o tamanho dos links */
        padding: 8px 15px; /* Ajustando padding dos links */
    }

    .roda-pe {
        flex-direction: column;
        gap: 10px;
    }

    .conteudo-titulo {
        padding: 5%;
        align-items: center;
    }

    .img-animada {
        width: auto;
        height: 150px;
    }

    .botao-imagem {
        padding: 20px;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 50px;
        padding-bottom: 40px; /* Garantir que o footer não seja cortado */


    }

    footer {
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.349);
        background-color: #ffb6a660;
        margin-top: 20px; /* Garantir que o footer tenha espaçamento */
        padding: 15px; /* Ajuste o padding para o footer */
    }

    main {
        padding: 10% 5%; /* Ajustando o padding */
        margin-bottom: 50px; /* Garantir que o footer não fique oculto */
    }


}