@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Outfit:wght@500;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#toggle-dark-mode {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

/* Estilos para o modo escuro */
body.dark-mode {
    color: #ffffff;
    background-image: url(wallpaperDark.png);


}

body.dark-mode .cabecalho{
    background-color: #1d1b1be0;
}
body.dark-mode .roda-pe{
    background-color: #22171ead;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode a,
body.dark-mode strong {
    color: #fddbcb; 
}

body.dark-mode button{
    background-color: #fddbcb;
    color: #423c39;
    border-color: #423c39c4;
}

body.dark-mode button:hover{
    transform: scale(1.1);
    border-color: #fddbcb;
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.76), 0 0 20px rgba(255, 217, 191, 0.705);
}

body.dark-mode strong:hover{
    color: #cd9193;
}

body.dark-mode a:hover{
    color: #423c39;
    background: linear-gradient(75deg, #cd9193, #fddbcb, #ffd4cb);
    box-shadow: 0 0 10px #fddbcbb2, 0 0 20px #fddbcb;
}

body.dark-mode .projetos p:hover{
    color: #423c39;
}

body {
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.349);
    z-index: 1000;
    background-color: #fde8e8d5;
}

main {
    padding: 12%;
}

footer {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.349);
    background-color: #ffb6a660;
}

/* Botões */
button {
    display: flex;
    border-radius: 35px;
    text-align: center;
    margin: 1px;
    padding: 1px 15px;
    border-color: #cd9193;
    font-size: 20px;
    font-family: "Anta", "sans-serif";
    color: #fddbcb;
    cursor: pointer;
    background-color: #423c39;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}


button:hover {
    transform: scale(1.1);
    border-color: #423c39;;
    box-shadow: 0 0 10px #423c39ab, 0 0 20px #423c396b;
}


/* Estilos de Títulos e Texto */
h1 {
    font-family: "Anta", sans-serif;
    color: #423c39;
    font-size: 95px;
}

h2 {
    font-family: "Outfit", sans-serif;
    color: #423c39;
    font-size: 35px;
    padding: 40px;
}

.semPadding {
    padding: 0 0 8%;
}

p {
    font-family: "Outfit", sans-serif;
    text-align: justify;
    color: #423c39;
    font-size: 25px;
    border-radius: 20%;
}

strong {
    font-family: "Outfit", sans-serif;
    color: #423c39;
    
}


strong:hover{
    transform: scale(1.1);
    background: #cd9193;
    -webkit-background-clip: text;
    color: transparent;
}

/* Links */
a {
    display: inline-block;
    text-decoration: none;
    color:  #423c39;
    border-radius: 35px;
    padding: 5px 15px;
    font-family: "Anta", "sans-serif";
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

}

a:hover {
    transform: scale(1.1);
    color: #cd9193;
    background: linear-gradient(75deg, #423c39, #2c2825, #423c39);
    box-shadow: 0 0 10px #423c39ab, 0 0 20px #423c396b;
    
}

/* Estruturas Flexíveis */
.fixo {
    padding-right: 15px;
    padding-left: 15px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.roda-pe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    font-family: monospace;
    font-size: 25px;
    color: #cd9193;
}

.cabecalho-menu {
    display: flex;
    gap: 70px;
    font-family: monospace;
    font-size: 25px;
    color: #cd9193;
    
}

.conteudo-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50%;
    padding-right: 34%;
}

section p {
    padding: 50px;
}

.img-logo {
    width: 100px;
    height: auto;
}

.img-animada {
    animation: fade-pulse 2.5s ease-in-out infinite;
    width: 400px;
    height: auto;
}



.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical p {
    padding-bottom: 10%;
    transition: transform 0.3s ease;
    font-family: "Anta", "sans-serif";
    color: #423c39;
}



/* Botões de Imagem */
.botao-imagem {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    
}

.botao-imagem:hover {
    transform: scale(1.05);
}


.projetos{
    display: flex;
    border-radius: 35px;
    padding: auto;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.projetos:hover {
    transform: scale(1.1);
    background: linear-gradient(75deg, #ffb6a65d, #fddbcb, #cd9193);
    box-shadow: 0 0 10px #ffb6a65d, 0 0 20px #ffb6a65d;

}


/* Seções */
#inicio {
    scroll-margin-top: 230px;
    padding-top: 5%;
    padding-bottom: 10%;
}

#sobre {
    scroll-margin-top: 90px;
    padding-bottom: 10%;
}

#projetos {
    scroll-margin-top: 150px;
    padding-bottom: 10%;
}
#projetos div{
    margin: 5%;
}

#contato {
    scroll-margin-top: 150px;
}



/* Animações */
@keyframes fade-pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.7;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: #cd9193;
    display: none;
}


/* Responsividade */
@media (max-width: 1450px) {
    .conteudo-titulo {
        margin-top: 40px;
    }

    .img-animada{
        width: auto;
        height: 300px ;
    }

    main {
        padding: 15% 5%; 
        margin-bottom: 100px; 
    }

}




@media (max-width: 1000px) {
    .semPadding{
        justify-content: center;  
        text-align: center; 
    }  

    header {
        padding: 10px 5%;
    }

    h1 {
        padding: 2%;
        font-size: 7vw;
    }



    .conteudo-titulo {
        margin-top: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        text-align: center; 
    }



    .conteudo-titulo h1 {
        font-size: 7vw;
    }

    .img-animada {
        width: auto;
        height: 400px;
    }

    img {
        padding: 2%;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 20px;
        padding-bottom: 50px; 
    }


    main {
        padding: 15% 5%; 
        margin-bottom: 100px;
    }

    .cabecalho {
        flex-direction: column;
    }



}


@media (max-width: 915px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        background: none;
        border: none;
        font-size: 30px;
        color: #332823;
        cursor: pointer;
        left: 80%; 
    }

    a{
        margin-bottom: 10px;
    }

    button:hover#menu-toggle{
        transform: scale(1.4);
        border-color: none;
        box-shadow: none;
    }    


    .cabecalho-menu #toggle-dark-mode {
        display: none; 
    }

    .cabecalho-menu {
        display: none; 

    }

    .cabecalho-menu a {
        display: none; /*ocultos inicialmente */

    }
    
    .cabecalho-menu.active {
        display: block; /* Exibe*/
    }

    .cabecalho-menu.active a {
        display: block; 
    }
    .cabecalho-menu.active #toggle-dark-mode {
        display: block; 
        margin-left: 20px; 
    }

    .semPadding{
        justify-content: center;  /* Adiciona centralização vertical */
        text-align: center;  /* Adiciona centralização do texto dentro dos elementos */
    }  

    header {
        padding: 10px 5%;
    }

    h1 {
        padding: 2%;
        font-size: 7vw;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 18px;  
    }
    
    main p{
        margin: -40px;
    }


    .conteudo-titulo {
        margin-top: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        text-align: center;  
    }


    .cabecalho-menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-family: monospace;
        font-size: 18px; 
        color: #cd9193;
        text-align: center;
    }

.cabecalho-menu button{
    padding: 5px 15px;
    padding-top: 2px;
}
    .cabecalho-menu a {
        font-size: 18px; 
        padding: 10px 20px;
    }

    .conteudo-titulo h1 {
        font-size: 7vw;
    }

    .img-animada {
        width: auto;
        height: 75%px ;
    }

    img {
        padding: 1%;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 20px;
        padding-bottom: 50px; 
    }


    main {
        padding: 15% 5%; 
        margin-bottom: 100px; 
    }

    .cabecalho {
        flex-direction: column;
    }


}


@media (max-width: 600px) {

    header {
        padding: 10px 5%;
    }

    h1 {
        padding: 2%;
        font-size: 7vw;
    }
    h2 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
            text-align: left; 
            word-spacing: normal; 
            letter-spacing: normal; 

    }

    .cabecalho {
        flex-direction: column;
    }

    .roda-pe {
        flex-direction: column;
        gap: 15px;
    }
    .conteudo-titulo {
        margin-top: 40px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        text-align: center;  
    }


    .cabecalho-menu {
        display: flex;
        flex-direction: column;
        gap: 15px; 
        font-family: monospace;
        font-size: 18px; 
        color: #cd9193;
        text-align: center;
    }

    .cabecalho-menu a {
        font-size: 18px; 
        padding: 10px 20px;
    }

    .conteudo-titulo h1 {
        font-size: 7vw;
    }

    .img-animada {
        width: auto;
        height: 300px ;
    }

    img {
        padding: 1%;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 20px;
        padding-bottom: 50px;
    }

    footer {
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.349);
        background-color: #ffb6a660;
        margin-top: 20px;
        padding: 20px; 
    }

    main {
        padding: 15% 5%; 
        margin-bottom: 100px;
    }
}

@media (max-width: 330px) {

    main {
        padding: 10% 5%;
    }

    header {
        padding: 10px 2%;
    }

    h1 {
        font-size: 6vw;

    }

    h2 {
        font-size: 22px;
        padding-right: 0px;
        padding-left: 0px;

    }

    p {
        font-size: 16px;

    }


    .img-logo{
        width: auto;
        height: 50px;
    }


    .fixo {
        padding-right: 5px;
        padding-left: 5px;
    }

    .menu-toggle {
        background: none;
        border: none;
        font-size: 35px;
        cursor: pointer;
        color: #cd9193;
        display: none;
    }
    

    .cabecalho-menu {
        gap: 10px; /* Reduzido o espaçamento entre os links */
        font-size: 16px;
    }

    .cabecalho-menu a {
        font-size: 16px; /* Ajustando o tamanho dos links */
        padding: 8px 15px; /* Ajustando padding dos links */
    }

    .roda-pe {
        flex-direction: column;
        gap: 10px;
    }

    .conteudo-titulo {
        padding: 5%;
        align-items: center;
    }

    .img-animada {
        width: auto;
        height: 150px;
    }

    .botao-imagem {
        padding: 20px;
    }

    body {
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        margin-top: 50px;
        padding-bottom: 40px;


    }

    footer {
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.349);
        background-color: #ffb6a660;
        margin-top: 20px; 
        padding: 15px; 
    }

    main {
        padding: 10% 5%; 
        margin-bottom: 50px; 
    }


}